/**
 * @name Fontconfig
 * @author Joinemm#7184
 * @version 1.0.0
 * @description Changes font to Fira Code
*/

::placeholder, body, button, input, select, textarea {
    font-family: Fira Code;
}

code {
    font-family: Fira Code;
    font-size: 1rem !important;
}
