/**
 * @name Joinemm's Theme
 * @author Joinemm#7184
 * @version 3.0
 * @description Joinemm's discord theme for ED
 * @source https://github.com/joinemm/discord-css
*/

html {
	font-size: 90% !important;
}

body {
    font-family: "Hack Nerd Font Mono", "Twemoji";
	font-size: 0.8em;
}

.name-uJV0GL, .name-23GUGE {
	font-size: 1rem;
}


.activity-2Gy-9S, .size12-3cLvbJ {
	font-size: 0.8rem;
}

 /*
:root {
    --pad-content: 295px;
    --pad-content-u: 280px;
    --pad-content-ts: 275px;
}

*/
/* reorder items in text box */

.textAreaSlate-1ZzRVj {
    order: 2;
    margin-left: 20px;
}

.webkit-HjD9Er .buttons-3JBrkn {
    margin-left: -10px;
    order: 1;
}

.drawerSizingWrapper-17Mss4 {
    right: unset;
    height: 600px;
    bottom: 0;
}


/* cozy mode but actually it's compact */

/*
.cozy-3raOZG .timestamp-3ZCmNB.alt-1uNpEt {
    width: var(--pad-content-ts) !important;
}

.cozy-3raOZG .header-23xsNx {
    width: 100%;
    position: absolute;
    text-align: right;
    pointer-events: none;
    white-space: normal;
}

.cozy-3raOZG .messageContent-2qWWxC {
    padding-left: var(--pad-content);
    margin-left: 0;
}

.a11y-font-scaled-down .cozy-3raOZG.wrapper-2a6GCs,
.a11y-font-scaled-down .cozy-3raOZG.wrapper-2a6GCs .header-23xsNx,
.cozy-3raOZG.wrapper-2a6GCs {
    margin: 0;
    padding-left: 0;
}

.cozy-3raOZG.wrapper-2a6GCs:not(.groupStart-23k01U) {
    padding-top: 0;
}

.cozy-3raOZG.wrapper-2a6GCs:hover .timestamp-3ZCmNB {
    opacity: 1;
}

.username-1A8OIy {
    width: var(--pad-content-u);
    float: left;
    padding-right: 7px;
    word-wrap: break-word;
    pointer-events: all;
    white-space: nowrap;
    user-select: none;
    padding-top: 0px;
    padding-bottom: 4px;
}

.timestamp-3ZCmNB {
    opacity: 0;
    user-select: none;
}

.avatar-1BDn8e {
    display: none;
}

.container-1ov-mD {
    padding-left: var(--pad-content);
}

.cozyMessage-3V1Y8y.groupStart-23k01U {
    min-height: 0;
}

.cozy-3raOZG .header-23xsNx .botTag-2WPJ74 {
    left: 20px;
    float: right;
    position: absolute;
}

.buttons-cl5qTG {
    top: -26px;
}

.a11y-font-scaled-down .cozy-3raOZG .timestamp-3ZCmNB {
    font-size: 0.85rem;
}

.a11y-font-scaled-down .cozy-3raOZG .timestamp-3ZCmNB.alt-1uNpEt {
    font-size: 0.85rem;
}

.content-1o0f9g {
    margin-top: -10px;
}


*/
/* search */

/*
.searchResultMessage-1fxgXh.hit-1fVM9e .messageContent-2qWWxC,
.searchResultMessage-1fxgXh.sibling-1eJVjd .messageContent-2qWWxC,
.searchResultMessage-1fxgXh.hit-1fVM9e .container-1ov-mD,
.searchResultMessage-1fxgXh.sibling-1eJVjd .container-1ov-mD {
    padding-left: 10px;
}

.searchResultMessage-1fxgXh.hit-1fVM9e .header-23xsNx,
.searchResultMessage-1fxgXh.sibling-1eJVjd .header-23xsNx {
    position: relative;
    text-align: left;
    padding-top: 7px;
}

.searchResultMessage-1fxgXh.hit-1fVM9e .username-1A8OIy,
.searchResultMessage-1fxgXh.hit-1fVM9e .username-1A8OIy {
    width: auto;
    border: none;
    padding-left: 10px;
}

.searchResultMessage-1fxgXh.hit-1fVM9e .botTag-2WPJ74m,
.searchResultMessage-1fxgXh.hit-1fVM9e .botTag-2WPJ74 {
    position: relative;
    float: unset;
    left: unset;
}

.searchResultMessage-1fxgXh.hit-1fVM9e .timestamp-3ZCmNB,
.searchResultMessage-1fxgXh.hit-1fVM9e .timestamp-3ZCmNB {
    position: absolute;
}

.group-spacing-0 .divider-3_HH5L.hasContent-1_DUdQ {
    margin-top: 11px;
    margin-bottom: 2px;
}

*/
/* message edit */
/*
.channelTextArea-3bF57p {
    padding-left: var(--pad-content);
}

.channelTextArea-3bF57p .scrollableContainer-2NUZem {
    padding-left: 10px;
}

.channelTextArea-3bF57p .textAreaSlate-1ZzRVj {
    margin-left: 0;
}

.operations-36ENbA {
    padding-left: var(--pad-content);
}

*/
/* upload modal */

/*
.modal-yWgWj- .scrollableContainer-2NUZem,
.uploadModal-2ifh8j .scrollableContainer-2NUZem {
    padding-left: 15px;
}

.modal-yWgWj- .textAreaSlate-1ZzRVj,
.uploadModal-2ifh8j .textAreaSlate-1ZzRVj {
    margin-left: 0;
}

*/
/* pinned messages */

/*
.messagesPopout-24nkyi .messageContent-2qWWxC,
.messagesPopout-24nkyi .container-1ov-mD {
    padding-left: 10px;
}

.messagesPopout-24nkyi .username-1A8OIy {
    width: auto;
    border: none;
    padding-left: 10px;
}

.messagesPopout-24nkyi .botTag-2WPJ74m {
    position: relative;
    float: unset;
    left: unset;
}

.messagesPopout-24nkyi .header-23xsNx {
    position: relative;
    text-align: left;
    padding-top: 7px;
}

*/
/* zoom small emojis on hover *
 * ------------------- */

.messageContent-2qWWxC .emoji:not(.jumboable) {
    transition: transform .1s;
}

.messageContent-2qWWxC .emoji:not(.jumboable):hover {
    transform: scale(3.0);
    z-index: 3;
}

.contents-2mQqc9,
.zalgo-jN1Ica .messageContent-2qWWxC {
    overflow: visible;
}


/* Color scheme 
 * https://github.com/ayu-theme/ayu-colors
 * ---------- */


/* AYU
:root {
    --accent-color: #ffcc66;
    --accent-darker: #e6b450;
    --background-primary: #1f2430;
    --background-secondary: #232834;
    --background-secondary-alt: #232834;
    --background-tertiary: #141925;
    --background-accent: #707a8c;
    --channeltextarea-background: #232834;
    --text-normal: #cbccc6;
    --text-muted: #707a8c;
    --channels-default: #7d8199;
    --interactive-normal: #7d8199;
    --interactive-hover: #cbccc6;
    --interactive-active: #cbccc6;
    --interactive-muted: #3b3e55;
    --header-secondary: #cbccc6;
    --background-mentioned: #ffffff20;
    --background-mentioned-hover: #ffffff30;
    --background-floating: #141925;
    --scrollbar-auto-thumb: #232834;
    --scrollbar-auto-track: #1f2430;
    --text-link: #73d0ff;
    --selection: rgba(51, 65, 94, .99);
} */

 :root {
    --accent-color: #ffcc66;
    --accent-darker: #e6b450;
    --background-primary: #2e3440;
    --background-secondary: #2e3440;
    --background-secondary-alt: #2e3440;
    --background-tertiary: #292f39;
    --background-accent: #3b4252;
    --channeltextarea-background: #292f39;
    --text-normal: #eceff4;
    --text-muted: #4c566a;
    --channels-default: #999ea8;
    --interactive-normal: #999ea8;
    --interactive-hover: #eceff4;
    --interactive-active: #eceff4;
    --interactive-muted: #4c566a;
    --header-secondary: #eceff4;
    --background-mentioned: #ffffff20;
    --background-mentioned-hover: #ffffff30;
    --background-floating: #3b4252;
    --scrollbar-auto-thumb: #3b4252;
    --scrollbar-auto-track: #2e3440;
    --text-link: #81a1c1;
    --selection: rgba(63, 71, 88, .75);
}

::selection {
    background: var(--selection);
}


/* primary background elements */

.scrollerThemed-2oenus.themeDark-2cjlUp.scrollerTrack-1ZIpsv>.scroller-2FKFPG::-webkit-scrollbar-track,
.scrollerThemed-2oenus.themeDark-2cjlUp.scrollerTrack-1ZIpsv>.scrollerStore-390omS::-webkit-scrollbar-track,
.theme-dark .scrollerWrap-2lJEkd.scrollerTrack-1ZIpsv>.scroller-2FKFPG::-webkit-scrollbar-track,
.theme-dark .scrollerWrap-2lJEkd.scrollerTrack-1ZIpsv>.scrollerStore-390omS::-webkit-scrollbar-track,
.theme-dark .da-messageGroupWrapper,
.theme-dark .bodyInner-245q0L,
.theme-dark .footer-1fjuF6,
.theme-dark .bottomDivider-1K9Gao,
.theme-dark .headerNormal-T_seeN,
.theme-dark .root-1gCeng,
.tabBody-3YRQ8W,
.theme-dark .uploadModal-2ifh8j,
.theme-dark .modal-yWgWj- {
    background-color: var(--background-primary);
}


/* lighter elements */

.da-popouts .da-container,
.da-friendsTableHeader,
.da-friendsTable,
.da-autocomplete,
.da-themedPopout,
.da-footer,
.da-userPopout>*,
.da-autocompleteHeaderBackground,
.theme-dark .bar-2Qqk5Z,
.theme-dark .payment-xT17Mq,
.theme-dark .paymentPane-3bwJ6A,
.theme-dark .paginator-166-09,
.theme-dark .codeRedemptionRedirect-1wVR4b,
.theme-dark .scrollerThemed-2oenus.themedWithTrack-q8E3vB .scroller-2FKFPG::-webkit-scrollbar-thumb,
.theme-dark .footer-3mqk7D,
.theme-dark .footer-2gL1pp {
    background-color: var(--background-secondary);
    border-color: transparent !important;
}

.theme-dark .footer-3mqk7D,
.theme-dark .footer-2gL1pp {
    --webkit-box-shadow: none
}

.expandedFolderBackground-2sPsd-,
.folder-21wGz3 {
    background-color: var(--background-accent);
}

.scrollerThemed-2oenus.themeDark-2cjlUp .scroller-2FKFPG::-webkit-scrollbar-thumb,
.theme-dark .scrollerWrap-2lJEkd .scroller-2FKFPG::-webkit-scrollbar-thumb,
.theme-dark .inset-3sAvek,
.theme-dark .quickMessage-1yeL4E,
.wrapper-2aW0bm,
.theme-dark .autocomplete-1vrmpx,
.searchBar-3dMhjb,
.theme-dark .body-3iLsc4,
.theme-dark .footer-2gL1pp,
.cardPrimary-1Hv-to {
    background-color: var(--background-secondary);
}

.theme-dark .invite-18yqGF {
    background: var(--background-secondary);
    border-color: transparent;
}

.sidebar-2K8pFh {
    border-right: var(--background-accent) 1px solid;
    border-left: var(--background-accent) 1px solid;
}


/* Force BetterDiscord *active* settings items to match normal active settings items. */

.theme-dark #bd-settings-sidebar .ui-tab-bar-item.selected,
.theme-dark .da-autocompleteRow .da-selectorSelected {
    background-color: var(--background-modifier-selected);
    color: var(--interactive-active);
}


/* scrollbars */

.da-messagesWrapper .da-scroller::-webkit-scrollbar,
.da-messagesWrapper .da-scroller::-webkit-scrollbar-track-piece {
    background-color: var(--background-tertiary) !important;
    border-color: rgba(0, 0, 0, 0) !important;
}

.da-scrollerThemed .da-scroller::-webkit-scrollbar-thumb,
.da-scrollerWrap .da-scroller::-webkit-scrollbar-thumb {
    background-color: var(--background-secondary) !important;
    border-color: var(--background-tertiary) !important;
}

.theme-dark .scrollerThemed-2oenus.themedWithTrack-q8E3vB .scroller-2FKFPG::-webkit-scrollbar-track-piece {
    background-color: var(--background-primary) !important;
    border-color: rgba(0, 0, 0, 0) !important;
}

.theme-dark .selectorSelected-1_M1WV,
.newMessagesBar-mujexs,
.theme-dark .searchAnswer-3Dz2-q,
.theme-dark .searchFilter-2ESiM3,
.theme-dark .progress-1IcQ3A,
.themeDefault-24hCdX,
.theme-dark .lookFilled-1Gx00P.colorPrimary-3b3xI6 {
    background-color: var(--background-accent);
}

.theme-dark .container-3ayLPN {
    background-color: var(--background-tertiary);
}

.theme-dark .option-96V44q.selected-rZcOL- {
    background-color: var(--background-floating);
}

.theme-dark .pageIndicator-1gAbyA,
.theme-dark .pageButtonNext-V2kUq0,
.theme-dark .pageButtonPrev-1Y-47D {
    border-color: var(--background-accent);
}


/* remove gradients */

.theme-dark .da-option:after {
    background-image: none !important;
}


/* misc */

.scroller-2FKFPG::-webkit-scrollbar,
.barButtonBase-3UKlW2,
.theme-dark .scrollerThemed-2oenus.themeGhostHairline-DBD-2d .scroller-2FKFPG::-webkit-scrollbar-thumb {
    background: transparent;
}

.theme-dark .option-96V44q:after {
    display: none;
}

.theme-dark .paginator-2CA79G {
    color: #dcddde;
}

.coverImageActionable-1TMryE.blurred-UUeCTs {
    background-image: none;
    filter: none;
}

.embedFull-2tM8-- {
    border-left-color: var(--background-floating);
    background-color: var(--background-tertiary);
}

.markup-2BOw-j code {
    background: var(--background-tertiary);
}


/* recolor discord blurple */

.themeDefault-24hCdX.valueChecked-m-4IJZ,
.lookFilled-1Gx00P.colorBrand-3pXr91,
.barFill-23-gu-,
.mentioned-xhSam7:before {
    background-color: var(--accent-color);
}

div[style*="border-color: rgb(114, 137, 218);"] {
    border-color: var(--accent-color) !important;
}

div[style*="background-color: rgb(114, 137, 218);"] {
    background-color: var(--accent-color) !important;
}

div[style*="color: rgb(114, 137, 218);"] {
    color: var(--accent-color) !important;
}

div[style*="color: rgb(255, 255, 255);"] {
    color: #ffffff !important;
}

.lookFilled-1Gx00P.colorBrand-3pXr91 {
    color: white;
}

.lookFilled-1Gx00P.colorBrand-3pXr91:hover {
    background-color: var(--accent-darker);
}

.theme-dark .categoryFadeBlurple-1j72_A {
    background-color: rgba(255, 204, 102, .5)
}

.theme-dark .categoryFadeBlurple-1j72_A:hover {
    background-color: rgba(255, 204, 102, .8)
}

.theme-dark .focused-1En8bG:after,
.theme-dark .result-3w1ZcL:hover:after {
    box-shadow: inset 0 0 0 2px var(--accent-color), inset 0 0 0 3px #2f3136;
}


/* disable gift button */

.button-38aScr[aria-label="Send a gift"] {
    display: none
}

@import url("https://unpkg.com/nord-highlightjs@0.1.0/dist/nord.css");
